name: tag
on:
  push:
    branches:
      - master
jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Auto Tagger
        uses: VegetableGarden/beet@0.0.3
        with:
          minor-version: 8
